body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  max-width: 1000px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
}

header {
  height: 60px;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

footer {
  height: 100px;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

footer p {
  padding: 0;
  margin: 0;
}

nav {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #000000;
  text-decoration: none;
}

nav ul li {
  display: inline;
  list-style: none;
  padding-right: 20px;
}

.sobre-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sobre-texto {
  width: 50%;
  padding: 20px;
}

.sobre-imagem{
  width: 40%;
  border-radius: 50%;
}

.social-container a {
  text-decoration: none;
}

.social-icons {
  width: 30px;
  padding: 10px;
}

.contato-container {
  display: flex;
  flex-direction: row;
}

.contato-endereco {
  width: 50%;
  padding: 20px;
}

.contato-formulario {
  width: 50%;
  padding: 20px;
}
